@use "../custom" as *;
@use "../components/mixins" as *;

@font-face {
  font-family: poppins3;
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}
.get-started {
  background: $gray-300;
  .heading-line::after {
    margin-bottom: 2rem !important;
  }

  .gradient {
    @include gradient;

    .cta-info {
      padding: 3rem 0;
      margin-top: 1rem;
      .cta-heading-1 {
        font-size: 4rem;
        @include media-breakpoint-down(sm) {
          font-size: 3rem;
        }
      }

      .cta-heading-2 {
        font-size: 1.8rem;
      }

      .cta-list {
        list-style: none;
        padding-top: 1.2rem;
        line-height: 1.8rem;
        li {
          i {
            display: inline-block;
            margin-right: 0.5rem;
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
      }
    }
  }

  .form {
    padding: 3rem 0;
    margin-top: 1rem;
    .form-heading {
      font-family: poppins3;
      font-size: 1.5rem;
      display: inline-block;
      text-transform: capitalize;
      font-weight: 600;
      background-image: linear-gradient(to right, $primary, $secondary);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -o-background-clip: text;
      -ms-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
      }
    }
  }
}
