@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/animations" as *;

@font-face {
  font-family: poppins;
  src: url("../../assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: poppins2;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}

.intro {
  @include gradient;
  padding-top: 150px;

  h1 {
    margin-bottom: 20px;
  }
  .intros .display-2-intro {
    font-family: poppins, "sans-serif";
    font-size: 60px;
    color: $white;
    display: block;
    margin-bottom: 20px;
  }

  .intros .display-2-desc {
    font-family: poppins2, "sans-serif";
    display: inline-block;
    font-size: 18px;
    color: $white;
    // line-height: 1.7rem !important;
  }

  .intros {
    .video-box {
      position: relative;
      a {
        // @include absCenter;

        span {
          i {
            font-size: 6rem;
            color: $secondary;
          }
        }

        .border-animation {
          position: absolute;
          top: 0;
          left: 0;
          width: 6rem;
          height: 6rem;
          border: 0.55rem solid $white;
          border-radius: 50%;

          animation: pulse 1.5s linear infinite;
        }
        .border-animation--border-1 {
          animation-delay: 0.5s;
        }
        .border-animation--border-2 {
          animation-delay: 1.5s;
        }
        .border-animation--border-3 {
          animation-delay: 0.5s;
        }
      }
    }
  }
}
